{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>TechCar</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div id="cabecalho">
		<div id="area-logo">
			<img width="400px" src="{% static 'images/logo1.png' %}">

		</div>

	</div>

	<div id="area-principal">
		<ul>
            <a href=""><img width="280" src="{% static 'images/download.png' %}"></a><p>
			<a href="https://play.google.com/store/apps/details?id=br.com.devbase.vippira"><img width="300" src="{% static 'images/ANDROID.png' %}"></a><p>
			<a href="https://apps.apple.com/br/app/vip-pira-passageiro/id1642634845"><img width="300" src="{% static 'images/IOS.png' %}"></a><p>
			<a href="https://play.google.com/store/apps/details?id=br.com.devbase.vippira.prestador"><img width="300" src="{% static 'images/motorista.png' %}"></a>
		</ul>

		<div>
			<img float=right width="300px" src="{% static 'images/loc.png' %}">
		</div>



	</div>

</body>
</html>