{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>IOS</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <div id="area-principal">
        <div id="aviso">
            <h1 class="h1">Atenção</h1>

            <p class="p">O nosso aplicativo para iOS ainda não está disponível. Estamos na fase final de desenvolvimento e estará disponível em alguns dias!
                Pedimos desculpas, mas estamos trabalhando incansavelmente para garantir uma versão de alta qualidade e uma experiência  perfeita para vocês.
                Agradecemos a compreensão.
            </p>


            <a class="a" href="index.html">Voltar</a>
        </div>

    </div>


</body>
</html>