body{

	background-color: #dd7810;
}

#area-logo{
	text-align: center;
	padding: 10px;
}

#area-principal{
	margin: auto;
	text-align: center;


}

.postagem{
	padding: auto;
	margin-bottom: 20px;


}